* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

body {
    width: 100%;
    height: 100vh;
}

.gradient {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    position: fixed;
    top: 0;
}

.component {
    width: 320px;
    /* height: 100vh; */
    text-align: center;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 15px;
}

.img {
    width: 266px;
    height: 196px;
    position: absolute;
    top: -100px;
    left: 0;
}

.woman {
    background-image: url(./images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 266px;
    height: 196px;

}

.bg {
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    width: 266px;
    height: 196px;
    position: absolute;
    top: 120px;
    left: 30px;
}

.questions {
    padding: 10px 25px 25px;
    text-align: left;
}

.question {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.title {
    display: -webkit-flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin: 150px 0 30px;
    font-size: 32px;
}

button {
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    width: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button.rotate {
    transform: rotate(180deg);
}

h2 {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    width: auto;
    transition: 0.2s;
    user-select: none;
}

h2.active {
    color: black;
    font-weight: 700;
}

p {
    color: hsl(240, 6%, 50%);
    font-size: 12px;
    display: none;
    transition: 0.2s;
}

p.visible {
    display: block;
}

@media(min-width: 1440px) {

    .component {
        width: 1000px;
        min-height: 500px;
        display: -webkit-flex;
        justify-content: right;
        overflow: hidden;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .img {
        width: 266px;
        height: 196px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .woman {
        background-image: url(./images/illustration-woman-online-desktop.svg);
        width: 472px;
        height: 359px;
        position: relative;
        left: -100px;
        bottom: -200px;
    }

    .bg {
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: contain;
        width: 600px;
        height: 600px;
        bottom: 50px;
        left: -230px;
    }

    .box {
        background-image: url(./images/illustration-box-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        position: relative;
        top: 40%;
        left: calc(50% - 600px);
        z-index: 1;
    }

    .questions {
        width: 600px;
        padding: 10px 25px 25px;
        text-align: left;
    }

    .question {
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid hsl(240, 5%, 91%);
    }

    .title {
        display: -webkit-flex;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.2s;
    }

    h2:hover {
        color: hsl(14, 88%, 65%);
    }

    h2.active:hover {
        color: black;
    }

    h1 {
        margin: 40px 0;
        text-align: left;
    }


}